body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Castoro Titling', cursive;
    font-family: 'Source Sans Pro', sans-serif;
    background: #798;
    background-image: url('https://source.unsplash.com/random/2100x1100/?landscape');
    font-size: 120%;
}

.card {
    background: #975287d0;
    color: whitesmoke;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;

}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 18px;
    background: #0000002b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 102px);
}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 46px;
    width: 46px;
    outline: none;
    background: #0000002b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background: #00000070;
}

h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}

.flex{
    display: flex;
    align-items: center;}

.weather.loading {
     visibility: hidden;
     max-height: 20px;
     position: relative;
}

.weather.loading:after{
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
}